<style>
    .divDynamic td,
    .divDynamic th {
        border: solid #D8D8D8 1px;
        text-align: center;
    }
    
    .divDynamic table {
        border-collapse: separate;
        border: solid #D8D8D8 2px;
        border-radius: 5px;
    }
    
    .spec td,
    .spec th {
        border: solid #f5821f 1px;
        text-align: center;
    }
    
    .spec table {
        border-collapse: separate;
        border: solid #f5821f 2px;
        border-radius: 5px;
    }
</style>

<div *ngFor="#comp of record">
    <div class="col-sm-4 divDynamic">
        <table style="width:100%;">
            <tr style="background-color:#B8B8B8">
                <th>{{comp.data[comp.mappings[0].mapAttr]}}</th>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </table>
        <br/>
    </div>
    <div class="col-sm-4 divDynamic">
        <table style="width:100%;">
            <tr style="background-color:#B8B8B8">
                <th>{{comp.data[comp.mappings[1].mapAttr]}}</th>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </table>
        <br/>
    </div>
    <div class="col-sm-4 spec" style="float:right;">
        <table style="width:100%;">
            <tr style="background-color:#f5821f;color:white;">
                <th>{{comp.data[comp.mappings[2].mapAttr]}}</th>
            </tr>
            <tr>
                <td style="border:none;text-align:left;">{{comp.data[comp.mappings[16].mapAttr]}}</td>
            </tr>
            <tr>
                <td style="border:none;text-align:left;">{{comp.data[comp.mappings[15].mapAttr]}}</td>
            </tr>
            <tr>
                <td style="border:none;text-align:left;">{{comp.data[comp.mappings[17].mapAttr]}}</td>
            </tr>
        </table>
        <br/>
    </div>
    <div class="col-sm-8 spec">
        <table style="width:100%;">
            <tr>
                <td rowspan="2" style="background-color:#f5821f;color:white;" class="col-xs-2 ">{{comp.data[comp.mappings[3].mapAttr]}}</td>
                <th>{{comp.data[comp.mappings[7].mapAttr]}}</th>
                <th>{{comp.data[comp.mappings[7].mapAttr]}}</th>
                <th>{{comp.data[comp.mappings[7].mapAttr]}}</th>
                <th>{{comp.data[comp.mappings[7].mapAttr]}}</th>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <br/>
    </div>
    <div class="col-sm-8 divDynamic">
        <table style="width:100%;">
            <tr>
                <td rowspan="2" style="background-color:#B8B8B8;" class="col-xs-2 ">{{comp.data[comp.mappings[4].mapAttr]}}</td>
                <th>{{comp.data[comp.mappings[11].mapAttr]}}</th>
                <th>{{comp.data[comp.mappings[12].mapAttr]}}</th>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <br/>
    </div>
    <div class="col-sm-12 divDynamic">
        <table style="width:100%;">
            <tr>
                <td rowspan="2" style="background-color:#B8B8B8;" class="col-xs-2 ">{{comp.data[comp.mappings[5].mapAttr]}}</td>
                <th>{{comp.data[comp.mappings[13].mapAttr]}}</th>
                <th>{{comp.data[comp.mappings[14].mapAttr]}}</th>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <br/>
    </div>
    <div class="col-sm-12" style="color:#a41c2b;border:solid #a41c2b 2px;">
        {{comp.data[comp.mappings[6].mapAttr]}}
    </div>
</div>